<html>
<meta charset="UTF-8">
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Page content -->
<div id="home" class="w3-content" style="max-width:1564px">
   

<!-- Contact Section -->
<div id="contact" class="w3-container w3-padding-top-32">

<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
 
<h1><p>Lets get in touch and talk about your next project</p></h1>

<p> Call us directly @ 1-800-888-8888 or send us a message now !</p>

<form action="/action_page.php" target="_blank">
<input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
<input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
<input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
<input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
<button class="w3-button w3-black w3-section" type="submit">
<i class="fa fa-paper-plane"></i> SEND MESSAGE
</button>
</form>

<img src="https://a0.muscache.com/im/pictures/7b80d8b4-501b-4506-ae68-ea2966fa824e.jpg?im_w=720" class="w3-image" style="width:100%">

<footer class="w3-center w3-black w3-panel w3-padding-16">
<p>Powered by UI/UX Designers</p>
</footer>
</div>

<!-- End page content -->
</div>

</body>
</html>